body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            background-image: url('login_img.jpg');
            background-size: 100% auto;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            background-color:#273746;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 400px;
        }

        h2 {
            color:#f4f4f4;
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="password"],
        input[type="date"],
        button {
            display: block;
            width: 95%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            align:center;
            width:80%;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .reset-password-form {
            display: none;
        }